/* font-family: "ProximaNovaRegular"; */
@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "MerriweatherRegular"; */
@font-face {
	font-family: "MerriweatherRegular";
	src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot");
	src: url("../fonts/MerriweatherRegular/MerriweatherRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MerriweatherRegular/MerriweatherRegular.woff") format("woff"),
	url("../fonts/MerriweatherRegular/MerriweatherRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "MontserratRegular"; */
@font-face {
	font-family: "MontserratRegular";
	src: url("../fonts/MontserratRegular/MontserratRegular.eot");
	src: url("../fonts/MontserratRegular/MontserratRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
	url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNovaLight"; */
@font-face {
	font-family: "ProximaNovaLight";
	src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot");
	src: url("../fonts/ProximaNovaLight/ProximaNovaLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaLight/ProximaNovaLight.woff") format("woff"),
	url("../fonts/ProximaNovaLight/ProximaNovaLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "ProximaNovaSemiBold"; */
@font-face {
	font-family: "ProximaNovaSemiBold";
	src: url("../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.eot");
	src: url("../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.woff") format("woff"),
	url("../fonts/ProximaNovaSemiBold/ProximaNovaSemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "MontserratBold"; */
@font-face {
	font-family: "MontserratBold";
	src: url("../fonts/MontserratBold/MontserratBold.eot");
	src: url("../fonts/MontserratBold/MontserratBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/MontserratBold/MontserratBold.woff") format("woff"),
	url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "revicons"; */
@font-face {
	font-family: "revicons";
	src: url('../fonts/revicons/revicons.ttf');
	src: url('../fonts/revicons/revicons.eot?5510888');
  	src: url('../fonts/revicons/revicons.eot?5510888') format('embedded-opentype'),
    url('../fonts/revicons/revicons.woff?5510888') format('woff'),
    url('../fonts/revicons/revicons.ttf?5510888') format('truetype'),
    url('../fonts/revicons/revicons.svg?5510888') format('svg');
  	font-weight: normal;
  	font-style: normal;
}

@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello/fontello.eot');
	src: url('../fonts/fontello/fontello.eot?86943606#iefix') format('embedded-opentype'),
	url('../fonts/fontello/fontello.woff2?86943606') format('woff2'),
	url('../fonts/fontello/fontello.woff?86943606') format('woff'),
	url('../fonts/fontello/fontello.ttf?86943606') format('truetype'),
	url('../fonts/fontello/fontello.svg?86943606#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-left-open:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-tag:before { content: '\e806'; } /* '' */
.icon-paper-plane:before { content: '\e807'; } /* '' */
.icon-ORCID:before { content: '\e810'; } /* '' */
.icon-ResearchGate:before { content: '\e812'; } /* '' */
.icon-researcherid:before { content: '\e813'; } /* '' */
.icon-location-1:before { content: '\f031'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */