@media screen and (max-width: 1140px) {

    header ul,
    .menu_kl a {
        font-size: 13px;
    }

    .span_bsmu {
        font-size: 16px;
    }

}

@media screen and (max-width: 1080px) {

    .nav_wrap #menu-sticky_menu > li {
        padding: 25px 80px 25px 0;
    }

}

@media screen and (max-width: 1024px) {

    .scrollup {
        bottom: 10px;
        right: 10px;
    }

    .header-mobile-wrapper .top-header .container {
        padding: 0;
    }


    .header-desktop-wrapper {
        display: none;
    }

    .header-mobile-wrapper {
        display: block;
    }

    .menu_bg li {
        padding: 0;
    }

    .menu_col {
        width: 100%;
        margin-left: 0;
    }

    .nav_wrap ul, .nav_wrap ul ul {
        padding: 0;
        margin: 0;
    }

    .menu_kl {
        float: none;
    }

    header ul {
        float: none;
    }

    .nav_wrap ul li {
        display: block;
        width: 100%;
        text-align: left;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding: 15px;
        box-sizing: border-box;
    }

    .header-nav-mob .container,
    .header-nav-mob .menu_col {
        padding: 0;
    }

    .header-nav-mob .nav_wrap li.menu-item.menu-item-has-children {
        position: relative;
    }

    .header-nav-mob .nav_wrap li.menu-item.menu-item-has-children .arrow-btn {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        color: #ffffff;
        display: block;
        height: 48px;
        width: 48px;
        text-align: center;
        background-color: #1a385a;
        cursor: pointer;
        z-index: 60;
    }

    .header-nav-mob .nav_wrap li.menu-item.menu-item-has-children .arrow-btn i {
        transition: transform .3s;
    }

    .header-nav-mob .nav_wrap li.menu-item.menu-item-has-children .arrow-btn.active i {
        transform: rotate(180deg);
    }

    .header-nav-mob .nav_wrap li.menu-item.menu-item-has-children .arrow-btn i {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        line-height: 51px;
        margin: 0;
        padding: 0;
    }

    .header-nav-mob .nav_wrap ul.sub-menu {
        position: initial;
    }

    .nav_wrap ul li ul, .nav_wrap ul li ul li {
        min-width: initial;
        background: #032c4b;
        box-shadow: none;
        color: #fff;
    }

    .nav_wrap ul li ul li a {
        color: #fff;
        padding-left: 0;
    }

    .nav_wrap ul li ul {
        width: calc(100% - 71px);
        margin-top: 16px;
        margin-left: 35px;
        border-top: 1px solid rgba(255, 255, 255, 0.8);
    }

    .nav_wrap ul li ul li {
        padding: 6px;
        padding-left: 0;
    }

    .nav_wrap ul li ul li ul {
        width: calc(100% - 81px);
    }

    .top-header {
        padding-top: 0;
        max-height: 70px;
    }

    .header-nav-mob .nav_wrap li.current-parent-element > a {
        font-weight: 600;
        text-decoration: underline;
    }

    .top-header .row_head {
        padding: 10px 0;
        box-sizing: border-box;
        height: 70px;
    }

    .top-header .custom-logo-link {
        height: 50px;
    }

    .top-header .custom-logo-link img {
        height: 100%;
        /*max-width: 100%;*/
        width: 57px;
    }

    .top-header .row_head .right-side {
        max-height: 50px;
    }

    .top-header .flags {
        margin-bottom: 0;
        padding: 0;
        text-align: center;
        margin-top: 10px;
    }

    .top-header .flags li {
        line-height: 0;
    }

    .top-header .flags li:first-child {
        margin-bottom: 8px;
    }

    .top-header .mobile-btn-block {
        color: #ffffff;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
    }

    .top-header .mobile-btn-block .mobile-nav-btn,
    .top-header .mobile-btn-block .mobile-nav-btn i {
        color: #ffffff;
        font-size: 27px;
        line-height: 1;
    }

    #searchform .box .container-3 {
        display: none;
        z-index: 5;
    }

    #searchform .box .trigger-form-mobile {
        display: block;
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #ffffff;
        z-index: 4;
    }

    .container-fluid img {
        height: 200px;
    }

    .filtermenu label {
        font-size: 14px;
    }

    .cs-section-tiltle h2 {
        font-size: 32px;
    }

}

@media screen and (max-width: 768px) {

    .cs-section-tiltle h2 {
        font-size: 30px;
    }

    .pn {
        display: inline-block;
        padding: 0;
        margin: 0 0 7px 0;
        width: calc(50% - 7px);
    }

    .container-gallery .section-wrap .post {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cs-blog-area {
        padding: 30px 0 10px;
    }

}

@media screen and (max-width: 600px) {

    #searchform .box,
    #searchform .box .container-3,
    #searchform .box .container-3 input#search {
        max-width: 200px;
    }

}

@media screen and (max-width: 470px) {

    .filtermenu label {
        font-size: 12px;
    }

}

@media screen and (max-width: 425px) {

    .nav_wrap ul li a {
        font-size: 13px;
    }

    .header-nav-mob .nav_wrap li.menu-item.menu-item-has-children .arrow-btn {
        height: 47px;
        width: 47px;
    }

    .nav_wrap ul li ul li {
        padding: 5px;
    }

    .nav_wrap ul li ul {
        width: calc(100% - 53px);
        margin-left: 20px;
    }

    .container_width {
        margin-top: 10px;
    }

    .pn {
        width: calc(100% - 7px);
    }

    .nav_wrap ul li ul li ul {
        width: calc(100% - 62px);
    }

    .nav_wrap ul li a {
        white-space: pre-wrap;
    }

    .h1, h1 {
        font-size: 25px;
    }

    .top-header .mobile-btn-block .mobile-nav-btn i {
        font-size: 20px;
    }

    .head_feautures h2 {
        font-size: 25px;
    }

    .head_feautures h3 {
        font-size: 17px;
        margin-bottom: 30px;
    }

    .media-left, .media > .pull-left {
        padding: 0;
    }

    .media-left, .media-right {
        text-align: center;
    }

    .media-left, .media-right, .media-body {
        display: block;
        width: 100%;
    }

}

@media screen and (max-width: 375px) {

    .nav_wrap ul li {
        padding: 15px 7px;
    }

    .nav_wrap ul li ul {
        width: calc(100% - 50px);
        margin-left: 10px;
    }

    .nav_wrap ul li a {
        font-size: 12px;
    }

    .nav_wrap ul li ul li ul li ul {
        width: calc(100% - 20px);
    }

    .header-mobile-wrapper .col-xs-2 {
        padding-right: 10px;
        padding-left: 10px;
    }

    .container {
        padding-right: 5px;
        padding-left: 5px;
    }

}